{% extends 'base.html' %}

{% block content %}
<main class="main main--content">
  <dl>
    <div class="contact">
      <dt>Email:</dt>
      <dd class="contact__details">
        <a class="contact__link" href="mailto:marcin.fedorowicz1@gmail.com">
          marcin.fedorowicz1@gmail.com
        </a>
      </dd>
    </div>
    <div class="contact">
      <dt>GitHub:</dt>
      <dd class="contact__details">
        <a class="contact__link" href="https://github.com/MarcinFedorka">
          @MarcinFedorka
        </a>
      </dd>
    </div>
    <div class="contact">
      <dt>LinkedIn:</dt>
      <dd class="contact__details">
        <a class="contact__link" href="https://www.linkedin.com/in/mfedorowicz/">
          Marcin Fedorowicz
        </a>
      </dd>
    </div>
  </dl>
</main>
{% endblock content %}
